/* david styling starts here */ */

header {
  color: white;
  font-size: 300%;
  text-align: center;
}


h1,h2 {
  background-color: rgb(243, 243, 243);
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/50/65/89577e277ba1c60.jpg"); 
  background-size: cover;
  text-align: center;
}

h3
 {
  text-align: left;
  color: black;
}

p {
  text-align: left;
  color: black;
} 

.jumbotron {
  color: black;
  background-size: cover;

}