/* david styling starts here */ */

header {
  color: white;
  font-size: 300%;
  text-align: center;
}


.jumbotron{
  background-color: rgb(243, 243, 243);
  background-image: url("http://www.nationalgeographicexpeditions.com/assets/images/5129/hero-interior.jpg"); 
  color: rgb(1, 46, 31);
  background-size: cover;
  margin: 1%;
  border-style: double;
  border-color: black;
  border-radius: 7px;
    border: 1px solid rgb(48, 4, 243);
   
}

.panel {
  margin: 12px;
}

h1,h2 {
  padding: 7px;
  background-color: rgb(243, 243, 243);
  opacity: 0.83;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  border-style: double;
  border-color: black;
}

h3
 {
  text-align: left;
  color: black;
}

p {
  text-align: left;
  color: black;
} 

th {
  font-weight: bold;
}

button {
  margin-top: 7px;
}

body {
  background-color: rgba(211, 208, 34, 0.5);
}

footer {
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  position: sticky;
  background-color: rgba(243, 243, 243, 0.637);
  border-style: double;
  border-color: black;
  border-radius: 7px;
    border: 1px solid rgb(249, 249, 252);
}